<!-- {{ data }} -->
<h1>Hello</h1>
<div>
    <input placeholder="Search by family name..." id="search-family" name="search-family" type="text" values="" class="form-control"/>
</div>

<div id="familySearch-result-block">

</div>
